html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex: 1;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #303030;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "JetBrains Mono";
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  border: 3px solid #8585ad;
  background: #8585ad;
}
